section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e2d28;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  div {
    display: flex;

    h1 {
      padding: 0.5rem;
      color: black;
      font-size: 26px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }

  div:last-child {
    justify-content: flex-end;
    flex: 1;
  }

  .logo{
    width: 90px;
    height: 60px;
  }

  a {
    color: wheat;
  }
}
